<div class="p-4">
    <h2>Hi {{user.firstName}}</h2>
    <div class="container">
        <div class="center">
        <div class="menu-box">
            <div class="center">
            <h1>Municipality Permit Chatbot</h1>
            </div>
            <div class="center">
            <h1>Client</h1>
            </div>
        </div>
        </div>

        <br><br>
            <h2 class="center">Available actions</h2>
            <br>
            <p class="center"><button [routerLink]="'/users'">View Users</button></p>
            <p class="center"><button [routerLink]="'/zones'" >View Zones</button></p>
            <p class="center"><button [routerLink]="'/zones/add'">Add New Zone</button></p>
            <p class="center"><button [routerLink]="'/permits'" >View Permits</button></p>
            <p class="center"><button [routerLink]="'/permits/add'">Add New Permit</button></p>
            <p class="center"><button [routerLink]="'/regs'" >View Regulations</button></p>
            <p class="center"><button [routerLink]="'/regs/add'">Add New Regulation</button></p>
    </div>
</div>