<h1 *ngIf="isAddMode">Add Regulation</h1>
<h1 *ngIf="!isAddMode">Edit Regulation</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="code">Code/Designation</label>
            <input type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                <div *ngIf="f.code.errors.required">Code/Designation is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="url">Regulation URL</label>
            <input type="text" formControlName="url" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.url.errors }" />
            <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
                <div *ngIf="f.url.errors.required">Regulation URL is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="keywords">Keywords</label>
            <input type="text" formControlName="keywords" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.keywords.errors }" />
            <div *ngIf="submitted && f.keywords.errors" class="invalid-feedback">
                <div *ngIf="f.keywords.errors.required">Keywords are required</div>
            </div>
        </div>
    </div>
    <div class="form-group" id="center">
        <button [disabled]="loading" class="btn btn-primary" type="submit">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/regs" class="btn btn-link">Cancel</a>
    </div>
</form>